body{
  scroll-behavior: smooth;
}
.bg-t-black {
    background-color: rgba(0,0,0, .5);
}

.bg-t-green {
  background-color: rgba(0, 255, 76, 0.5);
}


@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.slider {
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  
  margin: auto;
  overflow: hidden;
  position: relative;
}
.slider::before, .slider::after {
  
  content: "";
  position: absolute;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
          animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.slider .slide {
  
}